@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Light Theme - Default */
  :root {
    --foreground-rgb: 0, 0, 0; /* Default to black for light mode */
    --background-start-rgb: 255, 255, 255; /* Default to white for light mode */
    --background-end-rgb: 255, 255, 255; /* Default to white for light mode */
    --mainphrase-bg: var(--mainphraseWhite-bg);
    --homepage-gradient: linear-gradient(to bottom, #9d32a5, #641a99, #24008c);
  }

  /* Dark Theme */
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255; /* White for dark mode */
      --background-start-rgb: 0, 0, 0; /* Black for dark mode */
      --background-end-rgb: 0, 0, 0; /* Black for dark mode */
      --mainphrase-bg: var(--mainphrase-dark-bg, #312737);
      --box-color: var(--box-dark-color, #312737cb);
    }
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
}

@layer components {
  .gradient-bg {
    @apply bg-gradient-to-b from-[#9D32A5] via-[#641A99] to-[#24008C];
  }
}
@keyframes zoomOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

.zoomOutAnimation {
  animation: zoomOut 2s forwards; /* Adjust time as needed */
}



